{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
Mail :
{{ form_widget(form.email) }}
    {{ form_errors(form.email) }}<br>
Nom d'utilisateur :
{{ form_widget(form.username) }}
    {{ form_errors(form.username) }}<br>
Date de naissance :
{{ form_widget(form.birth) }}
    {{ form_errors(form.birth) }}<br>
{{ form_rest(form) }}<br>
<div>
    <input type="submit" value="{{ 'profile.edit.submit'|trans }}"/>
</div>
{{ form_end(form) }}
