{% extends ("HamsterHubBundle::layout.html.twig") %}
{% block fos_user_content %}

    <script src="{{ asset("asset/script.js") }}"></script>
    <div id="content" class="content">

        {% for video in videos %}
            <ul class="videos">
                <li class="video_name">Nom: {{ video.name }}</li>
                <li class="video_img">
                    <a href="/video/{{ video.id }}">
                        <img src="{{ video.url }}" alt="{{ video.url }}">
                    </a>
                </li>
                <li class="video_user">Utilisateur: <a href="/profile/show/{{ video.idUser }}"><span class="user">{{ video.user }}</span></a></li>
                <li class="video_description">Description: <span class="description">{{ video.description }}</span></li>
                <li class="video_date">Mise en ligne le {{ video.date|date("d/m/Y") }}
                    à {{ video.date|date("H:i:s") }}</li>
            </ul>
        {% endfor %}
    </div>
{% endblock fos_user_content %}
